#### Importing necessory libraries:

In [1]:
! pip install -U googlemaps
#!Pip install googlemaps
#!Pip install simplejson
#!pip install --upgrade google-auth-oauthlib

Requirement already satisfied: googlemaps in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (4.5.3)
Requirement already satisfied: requests<3.0,>=2.20.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from googlemaps) (2.26.0)
Requirement already satisfied: certifi>=2017.4.17 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2021.5.30)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests<3.0,>=2.20.0->googlemaps) (1.26.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests<3.0,>=2.20.0->googlemaps) (2.0.9)
Requirement already satisfied: idna<4,>=2.5 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from requests<3.0,>=2.20.0->googlemaps) (3.1)

In [2]:
import pandas as pd
import numpy as np

import googlemaps
from pandas import json_normalize

# requires API key
gmaps = googlemaps.Client(key="AIzaSyAXifuVztHLldGio-I9I2YJNzYqV_hrL0g") ## personalkey:#AIzaSyAf7lxFSTToL-CrtT_MX2L6vgiI6Ei6tQc

## Importing Data
#### Importing latitude and longitude of origin points

In [11]:
df_Origin=pd.read_csv('Origins.csv') # reading from csv file

print(f'\nThere are {df_Origin.shape[1]} columns and {df_Origin.shape[0]} rows in the origin data set as below:')  # f-string
df_Origin.head()

There are 4 columns and 16 rows in the origin data set as below:

   ID                            Hubs Address       Lat     Long
0   0     1515 Franklin St, Houston, TX 77002  29.76078 -95.3551
1   1  794N San Jacinto St, Houston, TX 77002  29.75770 -95.3620
2   2         1500 Daly Pl, Houston, TX 77002  29.77171 -95.3614
3   3        5601 W Loop S, Houston, TX 77081  29.72171 -95.4573
4   4       5220 Travis St, Houston, TX 77002  29.72863 -95.3888

#### Importing latitude and longitude of destination points

In [12]:
df_Destination=pd.read_csv('Destinations.csv') # reading from csv file

print(f'\nThere are {df_Destination.shape[1]} columns and {df_Destination.shape[0]} rows in the destination data set as below:')  # f-string
df_Destination.head()

There are 4 columns and 786 rows in the destination data set as below:

   ID        FIPS         Lat       Long
0   0  48201100000  29.752205 -95.357643
1   1  48201210100  29.767805 -95.353198
2   2  48201210400  29.786235 -95.360054
3   3  48201210500  29.795840 -95.359072
4   4  48201210600  29.806643 -95.364764

## Distance Calculation

### Creating Distance Function 
we create a function using gmaps.distance_matrix to calculate distance between two points based on point coordinations

In [13]:
def distance_func(Origin_Coordinates, Destination_Coordinates): # defining distance calculation function
    
        distance = gmaps.distance_matrix(Origin_Coordinates, Destination_Coordinates, mode="driving") # calculating the new distance
        df_temp = json_normalize(distance,['rows','elements']) # converting dictionary to data frame
        
        return(df_temp)

#### Example

In [14]:
Origin_Coordinates=(12.9551779,77.6910334)
Destination_Coordinates=(28.505278,77.327774)

df_temp= distance_func(Origin_Coordinates, Destination_Coordinates) # calling the distance function
df_temp

  status distance.text  distance.value   duration.text  duration.value
0     OK      2,144 km         2143682  1 day 12 hours          130091

### Using Distance Function for all Origin-Destination Points

In [15]:
# creating empty data frame With NaN values
df_distance = pd.DataFrame(columns = ['Status', 'Distance (text)', 'Distance (value)', 
                                      'Duration (text)', 'Duration (value)', 'Origin ID', 'Destination ID'])

count=0

for i in df_Origin.index:
    for j in df_Destination.index:
        
        Origin_Coordinates = (df_Origin['Lat'][i], df_Origin['Long'][i]) # extracting origing coordinates
        Destination_Coordinates = (df_Destination['Lat'][j], df_Destination['Long'][j]) #extracting origing coordinates

        df_temp= distance_func(Origin_Coordinates, Destination_Coordinates) # calling the distance function

        # adding the new row to the distance data frame
        list_temp= df_temp.iloc[0].tolist() # converting distance infromation to a list
        list_temp.append(df_Origin['ID'][i]) # adding origin ID to the list
        list_temp.append(df_Destination['ID'][j]) # adding destination ID to the list
        df_distance.loc[count]=list_temp # adding the list as a row to df_distance dataframe
        count=count+1

In [16]:
print(f'\nThere are {df_distance.shape[1]} columns and {df_distance.shape[0]} rows in the df_distance dataframe:')  # f-string

df_distance.head()

There are 7 columns and 12576 rows in the df_distance dataframe:

,Status,Distance (text),Distance (value),Duration (text),Duration (value),Origin ID,Destination ID
0,OK,1.9 km,1915,7 mins,421,0,0
1,OK,1.3 km,1257,4 mins,254,0,1
2,OK,4.1 km,4070,8 mins,461,0,2
3,OK,5.2 km,5181,10 mins,577,0,3
4,OK,6.7 km,6701,12 mins,713,0,4